@model sms_project.Models.Mensaje_Destinatarios
@{
    ViewData["Title"] = "SMS";
}

<h2>SMS</h2>
@using(Html.BeginForm("Index","SMS", FormMethod.Post))
{
    <p>
        Nombre: @Html.TextBoxFor(m => m.NombreQ)
        Nivel: @Html.DropDownListFor(m => m.NivelQ,new SelectList(Model.Select.Niveles), string.Empty)
        Grado: @Html.DropDownListFor(m => m.GradoQ,new SelectList(Model.Select.Grados),string.Empty)
        Seccion: @Html.DropDownListFor(m => m.SeccionQ,new SelectList(Model.Select.Secciones),string.Empty)
        <input type="submit" value="Filter" />
    </p>
}
@using(Html.BeginForm("Detalles","SMS", FormMethod.Post))
{
<table class="table">
    <thead>
        <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Numero
                </th>
                <th>
                    Nivel
                </th>
                <th>
                    Grado
                </th>
                <th>
                    Seccion
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Lista.Count(); i++) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Lista[i].Nombre)
                @Html.HiddenFor(m => m.Lista[i].Nombre , Model.Lista[i].Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Lista[i].Apellido)
                @Html.HiddenFor(m => m.Lista[i].Apellido , Model.Lista[i].Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Lista[i].numero)
                @Html.HiddenFor(m => m.Lista[i].numero , Model.Lista[i].numero)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => Model.Lista[i].Nivel)
                @Html.HiddenFor(m => m.Lista[i].Nivel , Model.Lista[i].Nivel)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => Model.Lista[i].Grado)
                @Html.HiddenFor(m => m.Lista[i].Grado , Model.Lista[i].Grado)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => Model.Lista[i].Seccion)
                @Html.HiddenFor(m => m.Lista[i].Seccion , Model.Lista[i].Seccion)
            </td>
        </tr>
}
    </tbody>
</table>

    @Html.Label("Mensaje")
    @Html.TextAreaFor(m => m.Mensaje, new { @class = "form-control row"})
    <button class="btn btn-primary">Enviar</button>
}
