@model IEnumerable<sms_project.Models.Destinatario>

@{
    ViewData["Title"] = "Destiantarios";
}

<h2>Destiantarios</h2>

<p>
    <a asp-action="Create">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span><strong>Agregar destinatario</strong></span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.numero)
                </th>
                                <th>
                    @Html.DisplayNameFor(model => model.Nivel)
                </th>
                                <th>
                    @Html.DisplayNameFor(model => model.Grado)
                </th>
                                <th>
                    @Html.DisplayNameFor(model => model.Seccion)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Seccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span><strong>Editar</strong></span> 
                    </a>
                <a asp-action="Details" asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    <span><strong>Detalles</strong></span> 
                </a>
                <a asp-action="Delete" asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span><strong>Eliminar</strong></span> 
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
